{% extends 'base/base.html' %}
{% block title %}Edit Member{% endblock %}
{% block content %}
<div class="card" style="max-width:720px;margin:auto;">
  <h2>Edit Member #{{ m.id }}</h2>
  <form method="post">{% csrf_token %}
    <label>Name</label><input class="input" name="name" value="{{ m.name }}" required>
    <label>Age</label><input class="input" name="age" type="number" value="{{ m.age }}" required>
    <label>Plan</label><input class="input" name="plan" value="{{ m.membership.plan }}" required>
    <label>Price</label><input class="input" name="price" type="number" step="0.01" value="{{ m.membership.price }}" required>
    <label>Duration Days</label><input class="input" name="duration_days" type="number" value="{{ m.membership.duration_days }}" required>
    <button class="btn" type="submit">Save</button>
  </form>
</div>
{% endblock %}
